<div class="loading-dialog" data-loading>
</div>

<!--<form name="saveTemplateData" action="../Login.ashx" method="post">-->
<div class="container-fluid body-content">
    <form name="loginform">



        <div style="padding-bottom:10px;">
            <button type="button" style="font-size: 20px;" ng-click="goBack('/PetsRegistered')" class="btn-lgsmall btn-primary-black-verysmall btn-lglgsmall">&nbsp; &laquo; &nbsp;</button>
        </div>

        <div class="mypage-headersmall">
            <img src="../Images/diary.png" class="img-circle" height="40" />
            {{petname}}'s Diary
        </div>
        <br />

        <div class="form-horizontal">
            <div class="jumbotron">
                <div class="form-group">
                    <label for="Message" class="col-md-4 control-label" style="margin-bottom: 15px;">Date</label>
                    <span class="input-group-btn" style="display: inline !important;">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <input type="text" style="inline !important; width: 87% !important; max-width: 357px; margin-left: 10px;" class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.mydate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" name="mydate" />
                </div>


                <div class="form-group">
                    <label for="Message" class="col-md-4 control-label">Type your diary entry</label>
                    <div class="col-md-8">
                        <textarea placeholder="Add a diary entry!" cols="10" rows="7" class="form-control" name="mymessage" ng-model="formData.mymessage" required></textarea>
                    </div>

                    <!--<pre>myForm.mypasssword.$error = {{ myForm.mypasssword.$error | json }}</pre>-->

                    <div ng-if="myForm.mymessage.$dirty || submitted" ng-messages="myForm.mymessage.$error" style="color:yellow; margin-left: 15px;" role="alert">
                        <div ng-message="required">You did not add a diary entry.</div>
                    </div>
                </div>



                <div class="form-group">
                    <!--<label for="Message" class="col-md-4 control-label">Update {{petname}}'s diary</label>-->
                    <div class="col-md-8">
                        <button type="submit" ng-click="processDiaryInsert()" ng-disabled="loginform.$invalid" style="width:210px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-plus" style="color: green !important;"></span>&nbsp;&nbsp;Add entry&nbsp;&raquo;</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <br />

    <!--<div class="jumbotron" style="margin-bottom: 10px">-->
    <div style="color: black; background-image: url('../Images/White-Paper-Texture-Background-520x390.jpg'); padding: 10px; border: 1px solid lightgray;">
        <div ng-repeat="x in names" style="margin-bottom: 20px;">
            <div style="font-size: 12px; font-weight: bold;">
                <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{x.mydateinserted}}
            </div>           
            <div style="font-size: 10px;">
                {{x.DiaryEntry}}
            </div>
            <div>
                <button type="submit" ng-click="deleteEntry(x.DiaryID)" style="width:100px; font-size: 12px !important; margin-top: 0px !important;" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-remove" style="color: red !important;"></span>&nbsp;Delete entry&nbsp;&raquo;</button>
            </div>
        </div>
    </div>
</div>
