<div class="loading-dialog" data-loading>
</div>

<!--<form name="saveTemplateData" action="../Login.ashx" method="post">-->
<form name="loginform">

    <div class="container-fluid body-content">

        <div class="mypage-headersmall">
            <img src="../Images/Login.jpg" class="img-circle" height="40" />
            Log in
        </div>
        <br />

        <div class="form-horizontal">
            <div class="jumbotron" style="background-color: {{backgroundcolor}} !important;">
                <div class="form-group">
                    <label for="Username" class="col-md-4 control-label">Username:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="formData.user" name="user" required>
                    </div>
                    <div class="alertmessages alert-danger" ng-show="loginform.user.$error.required && loginform.user.$dirty">
                        Please enter your username!
                    </div>
                </div>
                <!--<span style="color:red" ng-show="formData.user.$dirty && formData.user.$invalid">
                    <span ng-show="myForm.user.$error.required">Username is required.</span>
                </span>-->

                <div class="form-group">
                    <label for="Password" class="col-md-4 control-label">Password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="formData.password" name="password" required>
                    </div>
                    <div class="alertmessages alert-danger" ng-show="loginform.password.$error.required && loginform.password.$dirty">
                        Please enter your password!
                    </div>
                </div>



                <!--whole form: {{loginform.$error}}
                <br>
                name: {{loginform.user.$error}}
                <br>
                email: {{loginform.password.$error}}
                <br />-->

                <div class="form-group">
                    <label class="col-md-4 control-label">&nbsp;</label>
                    <div class="col-md-8">
                        <button type="submit" ng-click="processLogin()" ng-disabled="loginform.$invalid" style="width:210px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider">Log in&nbsp;&raquo;</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>