<div class="container-fluid body-content">

    <div class="loading-dialog" data-loading>
    </div>

    <div class="mypage-headersmall">
        <img src="../Images/Pets.jpg" class="img-circle" height="40" />
        Pets added by you
    </div>

    <br />

    <div class="alert alert-danger" ng-show="showlogin" ng-cloak>
        <strong>Warning!</strong> You are either not registered or not logged in.
        <br /><br />
        <span style="color: black; font-weight:bold;">To register:</span>
        <br />
        <div class="btn-group">
            <button type="button" ng-click="help1()" style="width: 40px;" class="btn btn-primary-orange-help"><span style="font-size: 15px; color: white;" class="glyphicon glyphicon-question-sign"></span></button>
            <button type="button" ng-click="gotoPage('/Register')" class="btn btn-primary-orange-home">
                Register
                &raquo;
            </button>
        </div>
        <br /><br />
        <span style="color: black; font-weight:bold;">To log in:</span>
        <br />
        <div class="btn-group">
            <button type="button" ng-click="help1()" style="width: 40px;" class="btn btn-primary-orange-help"><span style="font-size: 15px; color: white;" class="glyphicon glyphicon-question-sign"></span></button>
            <button type="button" ng-click="gotoPage('/Login')" class="btn btn-primary-orange-home">
                Log in

                &raquo;
            </button>
        </div>
    </div>

    <div ng-if="userloggedin == true">
        <div class="jumbotron" style="margin-bottom: 10px; border:5px solid white;">
            <div class="row row-centered">
                <div class="subheading">
                    <b> Add another </b>
                </div>
                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <a href="#RegisterPet">
                        <img src="../Images/bulddogHead.jpg" style="height:50px;" class="img-thumbnail" height="100" />
                    </a>
                </div>
                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <a href="#RegisterPet">
                        <img src="../Images/catHead1.jpg" style="height:50px;" class="img-thumbnail" height="100" />
                    </a>
                </div>
                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <a href="#RegisterPet">
                        <img src="../Images/birdHead2.jpg" style="height:50px;" class="img-thumbnail" height="100" />
                    </a>
                </div>
                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <a href="#RegisterPet" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Other type of pet&nbsp;&raquo;</a>
                </div>
            </div>

            <div class="row row-centered">
                <div  class="subheading">
                    <b>Your pets</b>
                </div>
            </div>

            <div ng-repeat="x in names">
                <a href="" ng-click="gotoAnchor( x.AnimalID )" target="_self"> &raquo;&nbsp;{{ x.NameOfDog }}</a>
                <!--<a href="" scroll-to="anchor{{ x.AnimalID }}"> &raquo;&nbsp;{{ x.NameOfDog }}</a>-->
                <!--<a h
                ref="#/PetsRegistered#anchor{{ x.AnimalID }}" target="_self"> &raquo;&nbsp;{{ x.NameOfDog }}</a>-->
                </div>
            </div>
        </div>


    <div class="jumbotron" ng-repeat="x in names | searchFor:searchString" style="margin-bottom: 10px">

        <table width="100%" id="anchor{{ x.AnimalID }}">
            <tr style="height:70px;">
                <td>
                    <table width="100%">
                        <tr>
                            <td class="dogname">
                                <div  class="subheading">
                                    {{ x.NameOfDog }}
                                </div>
                                <button ng-click="deleteAnimal(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Remove pet&nbsp;&raquo; </button>
                                <button ng-click="UpdateAnimal(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Update info&nbsp;&raquo;</button>
                                <button ng-click="LoadPhotos(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;Load photos&nbsp;&raquo;</button>
                                <button ng-click="UpdateDiary(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Diary&nbsp;&raquo;</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;">
                                color: {{ x.Color }}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;">
                                breed: {{ x.Breed }}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;">
                                features: {{ x.DistinctFeatures }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<br />
</div>
