<div class="container-fluid body-content">

    <div class="loading-dialog" data-loading>
    </div>

    <div class="mypage-headersmall">
        Pets registered by you
    </div>

    <br />

    <div ng-cloak class="alert alert-danger" ng-show="showlogin">
        <strong>Warning!</strong> You are either not registered or not logged in.
        <br /><br />
        To register:
        <div class="btn-group">
            <button type="button" ng-click="help1()" style="width: 40px;" class="btn btn-primary-orange-help"><span style="font-size: 15px; color: white;" class="glyphicon glyphicon-question-sign"></span></button>
            <button type="button" ng-click="gotoPage('/Register')" class="btn btn-primary-orange-home">
                Register
                &raquo;
            </button>
        </div>
        <br /><br />
        To log in:
        <div class="btn-group">
            <button type="button" ng-click="help1()" style="width: 40px;" class="btn btn-primary-orange-help"><span style="font-size: 15px; color: white;" class="glyphicon glyphicon-question-sign"></span></button>
            <button type="button" ng-click="gotoPage('/Login')" class="btn btn-primary-orange-home">
                Log in
                &raquo;
            </button>
        </div>
    </div>

    <div ng-if="userloggedin == true">
        <p><a href="#RegisterPet" class="btn btn-primary-black-small btn-lg">Add another pet &raquo;</a></p>

        <div class="jumbotron">
            <table width="100%">
                <tr style="height:70px;" ng-repeat="x in names | searchFor:searchString">
                    <td>
                        <table width="100%">
                            <tr>
                                <td class="dogname">
                                    {{ x.NameOfDog }} <br />
                                    <button ng-click="deleteAnimal(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider">Delete</button>
                                    <button ng-click="UpdateAnimal(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider">Update info</button>
                                    <button ng-click="LoadPhotos(x.NameOfDog)" style="width:200px;" class="btn-lgsmall-fontsmall btn-primary-orange-slider">Load photos</button>

                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;">
                                    color: {{ x.Color }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;">
                                    breed: {{ x.Breed }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;">
                                    features: {{ x.DistinctFeatures }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
</div>
